<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="navbar-brand">
    <img src="/assets/reuters.png" width="30" height="30"
        class="d-inline-block align-top"> RCV2 Indexer</h1>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active"
         href="#"
         [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron text-center">
  <div class="container" id="welcome">
    <h1 class="display-3">Welcome to the RCV2 Indexer</h1>
    <h5>This is a web interface for a Hadoop/HBase Document Indexer running on the Clemson Palmetto Cluster</h5>
    <p>
      <a class="btn btn-primary btn-lg" href="https://bitbucket.org/nicklaus_glyder/rcv2-webapp" role="button">
        <i class="devicon-nodejs-plain colored"></i> Web App Source &raquo;</a>
      <a class="btn btn-primary btn-lg" href="https://bitbucket.org/nicklaus_glyder/rcv2-indexer" role="button">
        <i class="devicon-java-plain colored"></i> MapReduce Source &raquo;</a>
    </p>
    <p>Thanks to BitBucket for the hosting! <i class="fa fa-bitbucket" aria-hidden="true"></i></p>
  </div>
</div>

<div class="container-fluid">
  <div class="alert alert-warning" role="alert" *ngIf="!selectedTable">
    <strong>Warning!</strong> You must select a table before you submit a query
  </div>
  <div class="row">
    <rcv2-hbase-source (notify)='onNotify($event)' class="col-md-3"></rcv2-hbase-source>
    <rcv2-hbase-query [selectedTable]="selectedTable" class="col-md-9"></rcv2-hbase-query>
  </div>
  <hr>
</div> <!-- /container -->
