.jumbotron {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-image: url("/assets/data.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
}

#welcome {
  background-color: rgba(100, 100, 100, 0.75);
  padding: 0.5em;
  color: white;
  p {
    font-weight: bold;
  }
}
