<div class="card">
  <div class="card-block">
    <div class="alert alert-danger" role="alert" *ngIf="!goodQuery">
      <strong>Error!</strong>
      <ul>
        <li *ngIf="!query || query === ''">Must enter non-blank query string</li>
        <li *ngIf="!selectedTable">Must select vaid table</li>
      </ul>
    </div>

    <h4 class="card-title">Query for:
      <strong *ngIf="!selectedTable">*</strong>
      <strong *ngIf="selectedTable">{{selectedTable.name}}</strong></h4>

    <h6>Display how many results?</h6>

    <div [(ngModel)]="resultNum" ngbRadioGroup name="resultNum" class="d-block">
      <label class="btn btn-primary btn-sm">
        <input type="radio" [value]="20"> 20
      </label>
      <label class="btn btn-primary btn-sm">
        <input type="radio" [value]="50"> 50
      </label>
      <label class="btn btn-primary btn-sm">
        <input type="radio" [value]="100"> 100
      </label>
    </div>

    <h6>Using which ranking function?</h6>

    <div [(ngModel)]="ranking" ngbRadioGroup name="rankingRadio">
      <label class="btn btn-primary btn">
        <input type="radio" value="cosine"> cosine
      </label>
      <label class="btn btn-primary btn">
        <input type="radio" value="bm25"> bm25
      </label>
    </div>

    <hr/>

    <div class="input-group">
      <input [(ngModel)]="query" type="text" class="form-control" placeholder="Enter search query">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="search()">Search</button>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-danger" type="button" (click)="clear()">Clear</button>
      </span>
    </div>

    <div class="card-block">
      <div *ngIf="results" class="d-flex">
        <h5>Query Vector :&nbsp;</h5>
        <span *ngFor="let vec of results.queryVector | keyVal">{{vec.key}}= {{vec.value | number:'1.4-4'}}&nbsp;&nbsp;</span>
      </div>
      <div *ngIf="results">
        <h5>Showing {{results.documents.length}} of {{results.total}} results</h5>
      </div>
      <ul *ngIf="results" class="list-group">
        <li *ngFor="let document of results.documents" [@flyInOut]="results" class="list-group-item">
          <div class="d-flex">
            <div class="doc-rank">
              <span><strong>{{document.rank | number:'1.4-4' }}</strong></span>
            </div>
            <div class="doc-detail d-flex flex-column">
              <div class="d-flex flex-row">
                <h5 class="d-flex">Document ID : {{document.id}}</h5>
                <div class="d-flex doc-title">
                  <span>{{document.title}}</span>
                </div>
              </div>
              <div class="doc-term-vector d-flex">
                <span *ngFor="let vec of document.termVector | keyVal">{{vec.key}}= {{vec.value | number:'1.4-4'}}&nbsp;&nbsp;</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
