<div class="card">
  <div class="card-block">
    <h4 class="card-title">HBase Source</h4>
    <h6 class="card-subtitle mb-2 text-muted">Select an index table present on the cluster</h6>
    <span *ngIf="!tables">Loading tables...</span>
    <div ngbDropdown class="d-inline-block" *ngIf="tables">
      <button class="btn btn-outline-primary" id="hbaseSourceMenu" ngbDropdownToggle>Select Table</button>
      <div class="dropdown-menu">
        <button *ngFor="let table of tables"
                class="dropdown-item"
                (click)="selectTable(table)">{{table.name}}</button>
      </div>
    </div>
  </div>
</div>
